footer{
    display: flex;
    align-items: center;
    gap: var(--r8);
    font-size: var(--r1-5);
    position: fixed;
    bottom: var(--p1);
    left: var(--p35);
    padding: var(--p1);
    border-radius: var(--bradius);
    box-shadow: var(--nf-shadow);
    background-color: var(--bg);
}
footer>span>img{
    margin-right: var(--r1);
}

footer>span>img:hover{
    cursor: var(--cursor);
}