.footer{
    display: flex;
    justify-content: space-around;
    max-width: 60vw;
    margin: auto;
    box-shadow: var(--nf-shadow);
    padding: var(--r1);
    align-items: center;
    border-radius: var(--bradius);
    margin-bottom: var(--r1);
}
.footer>span>img{
    margin-right: var(--r1);
}
.footer>span>img:hover{
    cursor: var(--cursor);
} 

@media(max-width: 700px){
    .footer{
        font-size: var(--px12);
        flex-direction: column;
    }
    .footer>span>img{
    width: 20px;
}
}